.navbar-brand {
    font-size: 3rem;
    color: #E90074;
}

.hand {
    font-size: 6rem;
    padding-right: 10%
}

.collapse {
    font-size: 2rem;
}

.game-board {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10%;
}

.game-tile {
    height: 10rem;

}

.score {
    background-color: white;
    height: 5rem;
    width: 15rem;
    font-size: 3rem;
    text-align: end;
}

.score-text {
    color: #FFF078;
    font-family: "Science Gothic", sans-serif;
    font-size: 3REM;
}

@media (max-width: 768px) {
    .game-board {

        gap: 2%;
    }

    .hand {
        font-size: 2REM;
        padding: 2%;
    }

}